@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Trabajo de grado de <br />
    Richar Hernández<br />
    <abbr title="Phone">P:</abbr>
    +593.....
</address>

<address>
    <strong>Support:</strong> <a href="mailto:xxxx@xxxx.com">xxx@xxx.com</a><br />
</address>
