@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Richar Hernández<br />
    <abbr title="Phone">+593 062 630 055</abbr><br />
    <abbr title="Phone">+593 968 947 812</abbr>
</address>

<address>
    <strong>GAD Municipal de Sucumbios</strong> <br />
    <strong>Support:</strong> <a href="mailto:info@gadmsucumbios.gob.ec">info@gadmsucumbios.gob.ec</a><br/>
</address>
