@model MantenimientoVehiculos.Web.Models.EditListUserViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="PicturePath" />
            <partial name="_User" />
            <div class="form-group">
                <label asp-for="UserTypeId" class="control-label"></label>
                <select asp-for="UserTypeId" asp-items="Model.UserTypes" class="form-control"></select>
                <span asp-validation-for="UserTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserFuncionId" class="control-label"></label>
                <select id="cmbUserFuncion" asp-for="UserFuncionId" asp-items="Model.UserFuncion" class="form-control"></select>
                <span asp-validation-for="UserFuncionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Enable" /> @Html.DisplayNameFor(model => model.Enable)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>

        </form>
    </div>
    
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.PicturePath))
        {
            <img src="@Url.Content(Model.PicturePath)" alt="Image" style="width:300px;height:300px;max-width: 100%; height: auto;" />
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}