@model MantenimientoVehiculos.Web.Data.Entities.VehicleEntity

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>VehicleEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Plaque" class="control-label"></label>
                <input asp-for="Plaque" class="form-control" />
                <span asp-validation-for="Plaque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotorSerial" class="control-label"></label>
                <input asp-for="MotorSerial" class="form-control" />
                <span asp-validation-for="MotorSerial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chassis" class="control-label"></label>
                <input asp-for="Chassis" class="form-control" />
                <span asp-validation-for="Chassis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cylinder" class="control-label"></label>
                <input asp-for="Cylinder" class="form-control" />
                <span asp-validation-for="Cylinder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModificationDate" class="control-label"></label>
                <input asp-for="ModificationDate" class="form-control" />
                <span asp-validation-for="ModificationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
