@model MantenimientoVehiculos.Web.Models.VehicleMaintenanceViewModel

<input type="hidden" asp-for="VehicleId" />
<div class="form-group">
    <label asp-for="KmHrMaintenance" class="control-label"></label>
    <input asp-for="KmHrMaintenance" class="form-control" />
    <span asp-validation-for="KmHrMaintenance" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="MaintenanceTypeId" class="control-label"></label>
    <select asp-for="MaintenanceTypeId" asp-items="Model.ListMaintenanceType" class="form-control"></select>
    <span asp-validation-for="MaintenanceTypeId" class="text-danger"></span>
</div>
<div class="form-group">
    <div class="checkbox">
        <label>
            <input asp-for="Complete" /> @Html.DisplayNameFor(model => model.Complete)
        </label>
    </div>
</div>

