@model MantenimientoVehiculos.Web.Data.Entities.Base.BaseEntity<byte>
<div class="form-group">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CreatedDate" />
    <input type="hidden" asp-for="CreatedBy" />
    <input type="hidden" asp-for="Version" />
</div>